language: java

git:
  submodules: false

# use sed to replace the SSH URL with the public URL, then init and update submodules
before_install:
  - sed -i "s/git@github.com:/https:\/\/shinehlina:$__PSW__@github.com\//" .gitmodules
  - git submodule update --init --recursive