language: java

git:
  submodules: false

# use sed to add credentials
before_install:
  - sed -i "s/github.com\//shinehlina:$__PSW__@github.com\//" .gitmodules
  - git submodule update --init --recursive